body{
	margin: 0;
}
div{
	background-color: orchid;
	width: 1000px;
	margin: auto;
	text-align: center;
}
h1{
	font-size: 80px;
	margin: 0;
}
h2{
	font-size: 50px;
	margin: 0;
}
p{
	font-size: 22px
}
img{
	width: 60px;
}